@import 'vars';

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 0px);
}

.game-container {
  position: absolute;
  background-color: #c0c0c0;
  padding: 6px;
  border-radius: 5px;
}

.menu-container {
  padding-bottom: 2px;
}

.board-container {
  padding: 6px;
  border-top: 3px solid $white-color;
  border-left: 3px solid $white-color;
  border-bottom: 3px solid $dark-gray-color;
  border-right: 3px solid $dark-gray-color;
}
